.navbar-dark {

    /* navbar  */
   position: absolute;
   height: 90px;
   left: 0px;
   top: 0px;
}


.navbar-brand img{

    /* navbar imagem */

    position: absolute;
    width: 201.47px;
    height: 207.35px;
    left: 0px;
    top: -30px;

}

.navbar-brand h1{

    /* navbar imagem */

    position: absolute;
    width: 100px;
    height: 43px;
    left: 149.47px;
    top: 25px;
    
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 59px;
    display: flex;
    align-items: center;
    
    /* Glare Black */
    
    color: #141414;
    

}

.container-fluid a{

     /* navbar  */

    position: absolute;
    width: 72px;
    height: 32px;
    left: 550px;
    top: -63px;

    font-family: 'Axiforma';
    flood-color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
}

.container-fluid aa{

    /* navbar  */

   position: absolute;
   width: 72px;
   height: 32px;
   left: 750px;
   top: -63px;

   font-family: 'Axiforma';
   flood-color: #fff;
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 32px;


}


.container-fluid aaa{

    /* navbar  */

   position: absolute;
   width: 72px;
   height: 32px;
   left: 950px;
   top: -63px;

   font-family: 'Axiforma';
   flood-color: #fff;
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 32px;


}

.container-fluid aaaa{

    /* navbar  */

   position: absolute;
   width: 72px;
   height: 32px;
   left: 1200px;
   top: -63px;

   font-family: 'Axiforma';
   flood-color: #fff;
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 32px;


}

.container-fluid aaaaa{

    /* navbar  */

   position: absolute;
   width: 72px;
   height: 32px;
   left: 1500px;
   top: -63px;

   font-family: 'Axiforma';
   flood-color: #fff;
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 32px;


}