.navbar-dark {

    /* navbar  */
   position: absolute;
   height: 120px;
   left: 0px;
   top: 0px;
}


.navbar-brand img{

    /* navbar imagem */

    position: absolute;
    width: 291.47px;
    height: 297.35px;
    left: 0px;
    top: -30px;

}

.navbar-brand h1{

    /* navbar imagem */

    position: absolute;
    width: 100px;
    height: 43px;
    left: 200.47px;
    top: 59px;
    
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 59px;
    display: flex;
    align-items: center;
    
    /* Glare Black */
    
    color: #141414;
    

}

.container-fluid a{

     /* navbar  */

    position: absolute;
    width: 72px;
    height: 32px;
    left: 550px;
    top: -63px;

    font-family: 'Axiforma';
    flood-color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 32px;
}

.container-fluid aa{

    /* navbar  */

   position: absolute;
   width: 72px;
   height: 32px;
   left: 750px;
   top: -63px;

   font-family: 'Axiforma';
   flood-color: #fff;
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 32px;


}


.container-fluid aaa{

    /* navbar  */

   position: absolute;
   width: 72px;
   height: 32px;
   left: 950px;
   top: -63px;

   font-family: 'Axiforma';
   flood-color: #fff;
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 32px;


}

.container-fluid aaaa{

    /* navbar  */

   position: absolute;
   width: 72px;
   height: 32px;
   left: 1200px;
   top: -63px;

   font-family: 'Axiforma';
   flood-color: #fff;
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 32px;


}

.container-fluid aaaaa{

    /* navbar  */

   position: absolute;
   width: 72px;
   height: 32px;
   left: 1500px;
   top: -63px;

   font-family: 'Axiforma';
   flood-color: #fff;
   font-style: normal;
   font-weight: 400;
   font-size: 40px;
   line-height: 32px;


}


  
  @media (max-width: 1200px) {
    /* regras de estilo para telas até 768px de largura */
    .navbar-brand img {
      width: 300px;
      left: 10px; /* ajustar o tamanho da imagem */
    }
    .navbar-brand h1 {
      left: 250px;  
      font-size: 30px; /* ajustar o tamanho da fonte */
    }
    .container-fluid a {
    left: 520px;  
      font-size: 25px; /* ajustar a posição dos links */
    }
    .container-fluid aa {
    left: 610px;  
      font-size: 25px;
    }
    .container-fluid aaa {
    left: 700px;  
      font-size: 25px;
    }
    .container-fluid aaaa {
        left: 830px;  
        font-size: 25px;
    }
    .container-fluid aaaaa {
      left: 990px;  
      font-size: 25px;
    }
  }
  
@media (max-width: 768px) {
    /* regras de estilo para telas até 768px de largura */
    .navbar-brand img {
      width: 150px;
      left: 10px; /* ajustar o tamanho da imagem */
    }
    .navbar-brand h1 {
      left: 150px;  
      font-size: 20px; /* ajustar o tamanho da fonte */
    }
    .container-fluid a {
    left: 250px;  
      font-size: 20px; /* ajustar a posição dos links */
    }
    .container-fluid aa {
    left: 330px;  
      font-size: 20px;
    }
    .container-fluid aaa {
    left: 400px;  
      font-size: 20px;
    }
    .container-fluid aaaa {
      left: 480px;  
      font-size: 20px;
    }
    .container-fluid aaaaa {
      left: 590px;  
      font-size: 20px;
    }
  }

.lh-3 { 

    /* navbar  */

    position: absolute;
    width: 1039px;
    height: 1004px;
    left: 700px;
    top: 193px;

    font-family: 'Calibri';
    font-style: normal;
    font-weight: 600;
    font-size: 84px;
    line-height: 104px;

}


.lh-1 {

    position: absolute;
    width: 1494px;
    height: 38px;
    left: 210px;
    top: 309px;

    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 38px;
}

.lh-2 {

    position: absolute;
    width: 894px;
    height: 38px;
    left: 490px;
    top: 369px;

    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 38px;
}

.col-1 img{

    position: absolute;
    width: 419px;
    height: 420px;
    left: 64px;
    top: 411px;
    

}

.cor_1{
    
    position: absolute;
    width: 310px;
    height: 50px;
    left: 64px;
    top: 430px;
    
    background: rgba(20, 20, 20, 0.86);
}

.cor_1 h1{
    
    position: absolute;
    width: 345px;
    height: 34px;
    left: 22px;
    top: 8px;
    
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    
    /* Glare White */
    
    color: #FBFBFD;
    
    opacity: 0.6;
    
}

.col-2 img{

    position: absolute;
    width: 420px;
    height: 420px;
    left: 710px;
    top: 411px;
}

.cor_2{
    
    position: absolute;
    width: 410px;
    height: 50px;
    left: 710px;
    top: 560px;
    
    background: rgba(20, 20, 20, 0.86);
}

.cor_2 h1{
    
    position: absolute;
    width: 545px;
    height: 34px;
    left: 22px;
    top: 8px;
    
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 38px;
    
    /* Glare White */
    
    color: #FBFBFD;
    
    opacity: 0.6;
    
}

.col-3 img{

    position: absolute;
    width: 419px;
    height: 420px;
    left: 1357px;
    top: 411px;
}


.cor_3{
    
    position: absolute;
    width: 310px;
    height: 50px;
    left: 1360px;
    top: 537px;
    
    background: rgba(20, 20, 20, 0.86);
}

.cor_3 h1{
    
    position: absolute;
    width: 345px;
    height: 34px;
    left: 22px;
    top: 8px;
    
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 38px;
    
    /* Glare White */
    
    color: #FBFBFD;
    
    opacity: 0.6;
    
}

.col-4 img{

    position: absolute;
    width: 419px;
    height: 420px;
    left: 64px;
    top: 855px;
    
}

.cor_4{
    
    position: absolute;
    width: 360px;
    height: 60px;
    left: 64px;
    top: 1010px;
    
    background: rgba(20, 20, 20, 0.86);
}

.cor_4 h1{
    
    position: absolute;
    width: 345px;
    height: 34px;
    left: 1px;
    top: 8px;
    
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 38px;
    
    /* Glare White */
    
    color: #FBFBFD;
    
    opacity: 0.6;
    
}

.col-5 img{

    position: absolute;
    width: 419px;
    height: 420px;
    left: 710px;
    top: 855px;
    
}

.cor_5{
    
    position: absolute;
    width: 310px;
    height: 50px;
    left: 710px;
    top: 980px;
    
    background: rgba(20, 20, 20, 0.86);
}

.cor_5 h1{
    
    position: absolute;
    width: 345px;
    height: 34px;
    left: 1px;
    top: 8px;
    
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 38px;
    
    /* Glare White */
    
    color: #FBFBFD;
    
    opacity: 0.6;
    
}

.col-6 img{

    position: absolute;
    width: 419px;
    height: 420px;
    left: 1357px;
    top: 410px;
    
}

.cor_6{
    
    position: absolute;
    width: 310px;
    height: 50px;
    left: 1357px;
    top: 560px;
    
    background: rgba(20, 20, 20, 0.86);
}

.cor_6 h1{
    
    position: absolute;
    width: 345px;
    height: 34px;
    left: 1px;
    top: 8px;
    
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 38px;
    
    /* Glare White */
    
    color: #FBFBFD;
    
    opacity: 0.6;
    
}

.col-7 img{

    position: absolute;
    width: 419px;
    height: 420px;
    left: 64px;
    top: 1299px;
    
}

.cor_7{
    
    position: absolute;
    width: 310px;
    height: 50px;
    left: 64px;
    top: 1443px;
    
    background: rgba(20, 20, 20, 0.86);
}

.cor_7 h1{
    
    position: absolute;
    width: 345px;
    height: 34px;
    left: 1px;
    top: 8px;
    
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 38px;
    
    /* Glare White */
    
    color: #FBFBFD;
    
    opacity: 0.6;
    
}

.col-8 img{

    position: absolute;
    width: 419px;
    height: 420px;
    left: 710px;
    top: 855px;
    
}

.cor_8{
    
    position: absolute;
    width: 310px;
    height: 60px;
    left: 710px;
    top: 1010px;
    
    background: rgba(20, 20, 20, 0.86);
}

.cor_8 h1{
    
    position: absolute;
    width: 345px;
    height: 34px;
    left: 1px;
    top: 8px;
    
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 38px;
    
    /* Glare White */
    
    color: #FBFBFD;
    
    opacity: 0.6;
    
}

.col-9 img{

    position: absolute;
    width: 419px;
    height: 420px;
    left: 1357px;
    top: 855px;
    
}

.cor_9{
    
    position: absolute;
    width: 320px;
    height: 60px;
    left: 1357px;
    top: 1010px;
    
    background: rgba(20, 20, 20, 0.86);
}

.cor_9 h1{
    
    position: absolute;
    width: 345px;
    height: 34px;
    left: 5px;
    top: 8px;
    
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 38px;
    
    /* Glare White */
    
    color: #FBFBFD;
    
    opacity: 0.6;
    
}

.d-block {

    position: absolute;
    width: 1930px;
    height: 242px;
    right: 0px;
    top: 1500px;
    bottom: 0px;
}

.d-block img{

    position: absolute;
    width: 201.47px;
    height: 207.35px;
    left: 50px;
    top: 1px;
}

.d-block h1{

    position: absolute;
    width: 100px;
    height: 43px;
    left: 190.47px;
    top: 55px;
    
    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 59px;
    display: flex;
    align-items: center;
}

.d-block p{

    /* © 2021 Glare Inc. */


    position: absolute;
    width: 185px;
    height: 0px;
    right: 830px;
    bottom: 48px;

    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height */


    color: #FFFFFF;
}

.d-block a{

    position: absolute;
    width: 185px;
    height: 32px;
    right: 1200px;
    top: 60px;

    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 32px;
}

.d-block aa{

    position: absolute;
    width: 185px;
    height: 32px;
    right: 980px;
    top: 60px;

    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 32px;
}

.d-block aaa{

    position: absolute;
    width: 185px;
    height: 32px;
    right: 750px;
    top: 60px;

    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 32px;
}

.d-block aaaa{

    position: absolute;
    width: 185px;
    height: 32px;
    right: 550px;
    top: 60px;

    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 32px;
}

.d-block aaaaa{

    position: absolute;
    width: 185px;
    height: 32px;
    right: 350px;
    top: 60px;

    font-family: 'Axiforma';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 32px;
}


.top img{

    position: absolute;
    width: 230px;
    height: 48px;
    top: 1640px;
    left: 1606px;
}

#whats{

    position: absolute;
    width: 36px;
    height: 36px;
    top: 1630px;
    left: 105px;
}
#face{

    position: absolute;
    width: 36px;
    height: 36px;
    top: 1630px;
    left: 145px;
}
#link{

    position: absolute;
    width: 36px;
    height: 36px;
    top: 1630px;
    left: 185px;
}
#insta{

    position: absolute;
    width: 36px;
    height: 36px;
    top: 1630px;
    left: 225px;
}

